@model Todo

<h2>New Task</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="Description" class="form-lable">Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-lable">Category</label>
        <select asp-for="CategoryId" class="form-select" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"))">
        <option value=""></option>
    </select>
    </div>
    <div class="mb-3">
        <label asp-for="DueDate" class="form-label">Due Date:</label>
        <input asp-for="DueDate" class="form-control" type="datetime" />
    </div>

    <div class="mb-3">
        <label asp-for="StatusId" class="form-lable">Status</label>
        <select asp-for="StatusId" class="form-select" asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "StatusName"))">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-primary">Cancle</a>
</form>